.products {
    position: relative;
    left: 15%;
    /* border: 1px solid red; */
    padding: 15px;
    width: 84%;
    height: 100vh;
}

.products>.productsCont {
    height: 90%;
    margin-top: 20px;
    padding: 20px 30px 30px 30px;
    box-shadow: 1px 1px 5px 1px rgb(173, 173, 173);
    background-color: white;
    border-radius: 5px;
}

.products>.productsCont>h5 {
    font-size: 26px;
    color: #1d96e2;
    font-weight: 500;
}

.products>.productsCont>.productsTableCont {
    height: 90%;
    margin-top: 20px;
    width: 100%;
}