.awaitEmailConfirm {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.671);
    display: flex;
    align-items: center;
    justify-content: center;
}

.awaitConfirmCont {
    width: 40%;
    height: 60%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.awaitConfirmCont>.top {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.awaitConfirmCont>.top>img {
    width: 30%;
}

.awaitConfirmCont>.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
}

.awaitConfirmCont>.bottom>h3 {
    font-size: 20px;
    color: rgb(71, 71, 71);
    margin-bottom: 10px;
}

.awaitConfirmCont>.bottom>p {
    text-align: center;
    font-size: 13px;
    color: rgb(112, 112, 112);
}

.awaitConfirmCont>.bottom>p>span {
    color: #02A302;
    font-weight: bold;
}

.awaitConfirmCont>.bottom>hr {
    width: 90%;
    margin-top: 30px;
}

.awaitConfirmCont>.bottom>div {
    margin-top: 20px;
}

.awaitConfirmCont>.bottom>div>p {
    font-size: 13px;
}

.awaitConfirmCont>.bottom>div>p>span {
    color: #02A302;
    cursor: pointer;
}

.awaitConfirmCont>.bottom>span {
    color: rgb(255, 57, 57);
    margin-top: 10px;
    font-weight: 500;
}