.cart {
    width: 100%;
}

.cartCont {
    width: 100%;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 20vh;
    padding-bottom: 10px;
}

.cartCont>.left {
    width: 65%;
}

.cartCont>.left>.cartProduct {
    width: 100%;
    border: 1px solid rgb(204, 204, 204);
    padding: 15px;
}

.cartCont>.left>.cartProduct>h5 {
    font-size: 22px;
    color: rgb(37, 37, 37);
    font-weight: 500;
}

.cartCont>.left>.cartProduct>span {
    font-size: 11px;
    color: rgb(71, 71, 71);
}

.cartCont>.left>.cartProduct>.productsListCont {
    width: 100%;
}

.cartCont>.left>.cartProduct>.productsListCont>.itemCont>div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    /* border: 1px solid red; */
    margin: 5px 0;
    cursor: pointer;
}

.cartCont>.left>.cartProduct>.productsListCont>.itemCont>div>.left {
    display: flex;
    align-items: center;
}

.cartCont>.left>.cartProduct>.productsListCont>.itemCont>div>.left>.imgCont {
    display: flex;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    height: 85px;
    width: 85px;
    background-color: rgb(231, 231, 231);
}

.cartCont>.left>.cartProduct>.productsListCont>.itemCont>div>.left>.imgCont>img {
    width: 60px;
}

.cartCont>.left>.cartProduct>.productsListCont>.itemCont>div>.left>.center>h5 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 2px;
}

.cartCont>.left>.cartProduct>.productsListCont>.itemCont>div>.left>.center>span {
    font-size: 12px;
}

.cartCont>.left>.cartProduct>.productsListCont>.itemCont>div>.right {
    text-align: right;
}

.cartCont>.left>.cartProduct>.productsListCont>.itemCont>.right>h5 {
    font-size: 16px;
    font-weight: 500;
    color: rgb(24, 24, 24);
}

.cartCont>.left>.cartProduct>.productsListCont>.itemCont>div>.right>span {
    font-size: 13px;
}

.cartCont>.left>.cartProduct>.productsListCont>.itemCont>span {
    color: rgb(255, 52, 52);
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    margin-top: 5px;
}

.cartCont>.left>.shipping {
    width: 100%;
    padding: 15px;
    border: 1px solid rgb(204, 204, 204);
    margin-top: 17px;
}

.cartCont>.left>.shipping>h5 {
    font-size: 20px;
    font-weight: 500;
    color: rgb(24, 24, 24);
    letter-spacing: 1px;
    margin-bottom: 10px;
    word-spacing: 8px;
}

.cartCont>.left>.shipping>form {
    width: 100%;
}

.cartCont>.left>.shipping>form>.names {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cartCont>.left>.shipping>form>.names>.name {
    display: flex;
    flex-direction: column;
    width: 49.5%;

}

.cartCont>.left>.shipping>form>.names>.name>label {
    font-size: 14px;

}

.cartCont>.left>.shipping>form>.names>.name>input {
    border: 1px solid rgb(226, 226, 226);
    padding: 10px;
    outline: none;
    font-size: 13px;
    color: rgb(58, 58, 58);
}

.cartCont>.left>.shipping>form>.names>.name>input::placeholder {
    font-size: 12px;
}

.cartCont>.left>.shipping>form>.address {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.cartCont>.left>.shipping>form>.address>label {
    font-size: 14px;
}

.cartCont>.left>.shipping>form>.address>input {
    border: 1px solid rgb(226, 226, 226);
    padding: 10px;
    outline: none;
    width: 100%;
    font-size: 13px;
    color: rgb(58, 58, 58);
}

.cartCont>.left>.shipping>form>.address>input::placeholder {
    font-size: 12px;
}

.cartCont>.left>.shipping>form>.location {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}

.cartCont>.left>.shipping>form>.location>div {
    display: flex;
    flex-direction: column;
    width: 49.5%;
}

.cartCont>.left>.shipping>form>.location>div>label {
    font-size: 14px;
}

.cartCont>.left>.shipping>form>.location>div>input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid rgb(226, 226, 226);
    font-size: 13px;
    color: rgb(58, 58, 58);
}

.cartCont>.left>.shipping>form>.address>div>input::placeholder {
    font-size: 12px;
}

.cartCont>.left>.shipping>form>.contact {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}

.cartCont>.left>.shipping>form>.contact>div {
    display: flex;
    flex-direction: column;
    width: 49.5%;
}

.cartCont>.left>.shipping>form>.contact>div>label {
    font-size: 14px;
}

.cartCont>.left>.shipping>form>.contact>div>input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid rgb(226, 226, 226);
    font-size: 13px;
    color: rgb(58, 58, 58);
}

.cartCont>.left>.shipping>form>.contact>div>input::placeholder {
    font-size: 12px;
}

.cartCont>.right {
    width: 33.7%;
    border: 1px solid rgb(204, 204, 204);
    padding: 15px
}

.cartCont>.right>h3 {
    font-size: 20px;
    color: rgb(37, 37, 37);
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.cartCont>.right>.inputCont {
    border-top: 1px solid rgb(226, 226, 226);
    border-bottom: 1px solid rgb(226, 226, 226);
    padding: 15px 0;
    width: 100%;
}

.cartCont>.right>.inputCont>.input {
    padding: 5px 5px 5px 0;
    background-color: rgb(231, 231, 231);
    border-radius: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
}

.cartCont>.right>.inputCont>.input>input {
    border-radius: 50px 0 0 50px;
    border: none;
    background: none;
    outline: none;
    padding-left: 10px;
    width: 60%;
    color: rgb(58, 58, 58);
}

.cartCont>.right>.inputCont>.input>button {
    width: 30%;
    height: 100%;
    border: none;
    border-radius: 50px;
    background-color: rgb(2, 109, 2);
    color: white;
    font-size: 12px;
    cursor: pointer;
}

.cartCont>.right>h5 {
    font-size: 16px;
    font-weight: 500;
    margin: 15px 0;
}

.cartCont>.right>.paymentDetails {
    border-top: 1px solid rgb(226, 226, 226);
    padding: 10px 0;
}

.cartCont>.right>.paymentDetails>ul {
    list-style: none;
    margin-bottom: 10px;
}

.cartCont>.right>.paymentDetails>ul>li {
    margin: 5px 0;
    display: flex;
}

.cartCont>.right>.paymentDetails>ul>li>input {
    margin-right: 6px;
    cursor: pointer;

}

.cartCont>.right>.paymentDetails>ul>li>label {
    color: rgb(68, 68, 68);
    font-size: 14px;
}

.cartCont>.right>.paymentDetails>.icons {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

}

.cartCont>.right>.paymentDetails>.icons>img {
    width: 70px;
    padding: 5px;
    margin-right: 10px;
    cursor: pointer;

}

.cartCont>.right>form {
    width: 100%;
}

.cartCont>.right>form>.row {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 0;
}

.cartCont>.right>form>.row>label {
    font-size: 13px;
    margin-bottom: 3px;
}

.cartCont>.right>form>.row>input {
    border: 1px solid rgb(226, 226, 226);
    padding: 10px;
    outline: none;
    width: 100%;
    font-size: 13px;
    color: rgb(58, 58, 58);
}

.cartCont>.right>form>.cvcExpiry {
    display: flex;
    justify-content: space-between;
}

.cartCont>.right>form>.cvcExpiry>.expiry {
    width: 54%;
}

.cartCont>.right>form>.cvcExpiry>.expiry>input {
    border: 1px solid rgb(226, 226, 226);
    padding: 10px;
    outline: none;
    width: 100%;
    font-size: 13px;
    color: rgb(58, 58, 58);
}

.cartCont>.right>form>.cvcExpiry>.cvc {
    width: 44%;
}

.cartCont>.right>form>.cvcExpiry>.cvc>input {
    border: 1px solid rgb(226, 226, 226);
    padding: 10px;
    outline: none;
    width: 100%;
    font-size: 13px;
    color: rgb(58, 58, 58);
}

.cartCont>.right>.summary {
    width: 100%;
    margin-top: 30px;
}

.cartCont>.right>.summary>.row {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 14.5px;
}

.cartCont>.right>.summary>.totalButton {
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;
    border-top: 1px solid rgb(226, 226, 226);
}

.cartCont>.right>.summary>.totalButton>.row {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 10px;

}

.cartCont>.right>.summary>.totalButton>button {
    width: 100%;
    padding: 10px 0;
    color: white;
    border-radius: 50px;
    border: none;
    background-color: rgb(2, 109, 2);
    cursor: pointer;
    transition: 0.2s;
}

.cartCont>.right>.summary>.totalButton>span {
    margin-top: 20px;
    color: rgb(255, 31, 31);
    font-size: 15px;
}

.cartCont>.right>.summary>.totalButton>button:hover {
    scale: 1.02;
}