@media only screen and (min-device-width: 100px) and (max-device-width: 480px) {
    .homeMainCont {
        padding: 0 10px;
    }

    .home>.homeMainCont>.holder1 {
        margin-top: -80px;
        margin-bottom: 50px;
    }

    .home>.homeMainCont>.holder2 {
        margin-top: -70px;
        margin-bottom: 70px;
    }
}