@media only screen and (min-device-width: 100px) and (max-device-width: 480px) {
    .halfPriceStore {
        padding: 7px 0;
    }

    .halfPriceStore>.halfPriceStoreCont>h4 {
        font-size: 17px;
    }

    .halfPriceStore>.halfPriceStoreCont>p {
        margin-bottom: 90px;
        font-size: 13px;
    }
}