@media only screen and (min-device-width: 100px) and (max-device-width: 480px) {
    .navbar {
        padding: 10px 10px;
        top: 0vh;
    }

    .navbarCont>.navLogoCont {
        width: 10%;
    }

    .navMenu {
        width: 75%;
    }

    .navMenu>ul>li {
        margin: 0 4px;
        font-size: 11px;
    }

    .navSearchCont {
        display: none;
    }

    .cartAccountCont {
        display: flex;
        position: relative;
    }



    .cartAccountCont>div>.closedOptions>span {
        display: none;
    }

    .cartAccountCont>div>.openOptions {
        height: 100px;
        width: 200px;
        background-color: white;
        padding: 5px;
        right: 10px;
        top: 23px;
    }

    .cartAccountCont>div>.openOptions>.close {
        font-size: 20px;
    }

    .cartAccountCont>div>.openOptions>.cont>a {
        margin-bottom: 5px;
        font-size: 11px;
    }

    .cartAccountCont>div>.openOptions>.cont>.account {
        margin-bottom: 10px;
    }

    .cartAccountCont>div>.openOptions>.cont>.sign>span {
        font-size: 20px;
        width: 20%;
        margin-right: 10px;
    }

    .cartAccountCont>.cart {
        margin-left: 10px;
    }




    .mobileSearchCont {
        justify-content: center;
        align-items: center;
        display: flex;
        height: 30px;
    }

    .mobileSearchCont>.mobileSearch {
        display: flex;
        width: 100%;
        background-color: rgb(241, 241, 241);
        height: 100%;
        padding: 5px 10px;
        border-radius: 50px;
        position: relative;
    }

    .mobileSearchCont>.mobileSearch>input {
        border: none;
        width: 90%;
        height: 100%;
        background-color: inherit;
        font-size: 14px;
        border-radius: 50px;
        outline: none;
        color: rgb(92, 92, 92);
        padding-left: 10px;
    }

    .mobileSearchCont>.mobileSearch>div {
        width: 10%;
        display: flex;
        align-items: center;
        color: rgb(92, 92, 92);
        font-size: 20px;
    }

    .mobileSearchCont>.mobileSearchSuggestions {
        display: flex;
        width: 280px;
        position: absolute;
        box-shadow: 1px 1px 10px rgb(204, 204, 204);
        border-radius: 5px;
        padding: 10px;
        max-height: 250px;
        overflow-y: scroll;
        background-color: white;
        overflow-x: hidden;
        z-index: 1;
        flex-direction: column;
        align-items: flex-start;
        top: 75px;
        left: 10px;
    }

    .mobileSearchCont>.mobileSearchSuggestions>div {
        display: flex;
        width: 100%;
        align-items: center;
        margin: 0px 0;
        cursor: pointer;
        height: 100px;
    }

    .mobileSearchCont>.mobileSearchSuggestions>div>.left>img {
        width: 30px;
        margin-right: 20px;
    }

    .mobileSearchCont>.mobileSearchSuggestions>div>.right>h5 {
        font-size: 11px;
    }

}