.promotionBanner {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin: 10px 0;
}

.promotionBannerLaptops {
    background-color: rgba(0, 0, 0, 0.589);
}

.promotionBannerGaming {
    background-color: #dd455e98;
}

.promotionBannerCoupons {
    background-color: rgba(255, 255, 0, 0.582);
}




.promotionBanner>.promoBannerCont {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    overflow: hidden;
}

.promotionBanner>.promoBannerCont>.left {
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
    padding-left: 20px;
}

.promotionBanner>.promoBannerCont>.left>h3 {
    font-size: 35px;
    margin-bottom: 5px;
    /* color: white; */
    color: rgb(59, 59, 59);
    letter-spacing: 1px;
    font-weight: 500;
}

.promotionBanner>.promoBannerCont>.left>h3>span {
    font-weight: 400;
    color: rgb(51, 51, 51);
}

.promotionBanner>.promoBannerCont>.left>span {
    font-size: 14px;
    color: rgb(99, 99, 99);
    font-weight: 500;
    margin-bottom: 20px;
}

.promotionBanner>.promoBannerCont>.left>button {
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: rgb(224, 62, 62);
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.promotionBanner>.promoBannerCont>.right {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.promotionBanner>.promoBannerCont>.right>img {
    width: 90%;
    position: relative;
    top: 30px;
}