.resErrModal {
    min-width: 100vw;
    min-height: 100vh;
    position: absolute;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.resErrModal>.resErrModalCont {}